@{
    ViewData["Title"] = "Модели";
}

<div class="text-center">
    <a asp-controller="Cars" asp-action="Index">

        <div class="box">
            <img class="vwLove" src="/imgs/img2.jpg" alt="Нови автомобили">
            <p>Нови автомобили</p>
        </div>
    </a>

    <a asp-controller="Cars" asp-action="Index">
        <div class="box">
            <img class="vwLove" src="/imgs/golfa.jpg" alt="Употребявани автомобили">
            <p>Употребявани автомобили</p>
        </div>
    </a>
</div>
