@{
    ViewData["Title"] = "Модели";
}

<div class="text-center">
    <div class="box">
        <img class="vwLove" src="/images/img1.png" alt="Нови автомобили">
        <p>Нови автомобили</p>
    </div>

    <div class="box">
        <img class="vwLove" src="/images/img1.png" alt="Употребявани автомобили">
        <p>Употребявани автомобили</p>
    </div>
</div>
